# Merge sources and explore the data

Just some initial exploration of the data in progress.

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

### Read in Jessica's data

In [26]:
j = pd.read_csv('jessica.tsv', sep = '\t')

In [3]:
j.shape

(1200, 18)

In [4]:
j.head()

,docid,author,realname,pseudonym,gender,nationality,authordate,inferreddate,firstpub,latestcomp,allcopiesofwork,copiesin25yrs,enumcron,imprint,genres,subjects,shorttitle,category
0,mdp.49015000838012,"Fraser, Peter",NaN,NaN,m,us,1932-,1971,1971.0,1971,1,1,NaN,Boston|Plays inc.|1971,Bibliographies|NotFiction,Puppet theater,Puppet circus,nonfiction
1,mdp.39015063561586,"Ferrier, Susan","Ferrier, Susan Edmonstone",NaN,f,uk,1782-1854.,1818,1818.0,1818,5,3,v.2,Edinburgh;W. Blackwood an,Bibliographies|Fiction,English fiction,"Marriage, a novel",novel
2,uiuo.ark+=13960=t8nc6b618,"Neri, Mary Anne","Neri, Mary Anne",NaN,f,it,NaN,1804,1804.0,1804,1,1,v.1,London;Printed for T. Cad,Novel|Fiction,NaN,The eve of San-Pietro,novel
3,uc1.$b473613,"Mann, Erika","Mann, Erika",NaN,f,de,1905-1969.,1940,NaN,1940,1,1,NaN,New York|Toronto|Farrar &,NotFiction,Social life and customs,The lights go down,novel
4,nyp.33433074931597,"Forrester, Charles Robert","Forrester, Charles Robert","Crowquill, Alfred; Willis, Hal",m,uk,1803-1850.,1843,NaN,1843,2,2,v. 2,London;R. Bentley;1843.,NotFiction,NaN,Phantasmagoria of fun,juvenile

### Read in Patrick's data

In [9]:
p = pd.read_csv('patrick.tsv', sep = '\t')

In [10]:
p.shape

(1200, 1)

Ooops; there's only one column. This is probably a sign that there aren't any tabs in the file; it's gotten accidentally saved as a csv, which happens very easily on Windows.

That's fine, actually, and maybe we shouldn't worry about it, because it's easily addressed.

In [11]:
p = pd.read_csv('patrick.tsv')
p.shape

(1200, 18)

There, solved.

In [12]:
p.head()

,docid,author,realname,pseudonym,gender,nationality,authordate,inferreddate,firstpub,latestcomp,allcopiesofwork,copiesin25yrs,enumcron,imprint,genres,subjects,category,shorttitle
0,nyp.33433076025596,"M'Henry, James","McHenry, James",NaN,m,us,1785-1845.,1848,1823.0,1845,1,1,v. 1-2,Pittsburgh;M. P. Morse;18,NaN,1732-1799|Fiction|Washing,novel,"The wilderness : or, Braddock's times; A tale ..."
1,wu.89087902169,"Applin, Arthur",NaN,"Smith, Julian",m,uk,1883-,1929,NaN,1929,1,1,NaN,New York|H. Liveright|192,NotFiction,NaN,novel,The chronicles of a gigolo
2,uc1.$b323629,"March, William",NaN,NaN,m,us,1893-1954.,1939,NaN,1939,2,2,NaN,"Boston|Little, Brown and",NotFiction,NaN,shortstories,Some like them short
3,uc1.$b318317,"Rosny, J. H., aÃ®nÃ©, pseud. of J. H. BoÃ«x","Boex, Joseph Henri Honoré",Rosny aîné,m,fr,1856-1940.,1924,NaN,1924,1,1,NaN,New York|R. M. McBride|19,NotFiction,NaN,novel,"The giant cat; or, The quest of Aoun and Zouhr"
4,mdp.39015005144137,"von Strassburg, Gottfried",NaN,NaN,u,NaN,d. 1210,1960,NaN,1960,1,1,NaN,Baltimore|Penguin Books|1,NotFiction,Tristan|(Anglo-Norman poe,reprint,Tristan

### Explore format and allowable values

In [13]:
# Do the files have the same columns in the same order?

list(p.columns) == list(j.columns)

False

In [14]:
set(p.columns) == set(j.columns)

True

No, but they have the same columns, just in a different order. I think it's mainly that "category" and "shorttitle" are reversed at the end. That's fine; the mere ordering of columns won't bother Pandas at all.

#### gender

According to our data model in [**process.md**](https://github.com/tedunderwood/meta2018/blob/master/process.md), the only allowable values here are m(ale), f(emale), u(nknown), and o(ther).

What values do we actually have?

In [15]:
set(j.gender)

{nan, 'm | m', 'in', 'F | m', 'm', 'm | f', 'f'}

In [16]:
set(p.gender)

{'u', nan, 'm', 'f'}

The multiple values in Jessica's table should probably be simplified. If these are multiple-author situations, and the authors have different genders, just go with **o**ther.

If they have the same gender, go with **m** or **f**. Don't use pipes "|" in this column.

Same thing applies to "us | us" below. Remember that these datasets are going to be interpreted mostly by computers, not human beings. The computer won't know what to make of the pipe separator "|" unless I tell it to expect pipes in this column, and tell it what to do when it encounters one. So we only want to use pipes in columns where we have an explicit plan to do so.

#### nationality

In [17]:
set(j.nationality)

{nan,
 'fi',
 'ger',
 'uk',
 'us | us',
 'ir',
 'ne',
 'in',
 'ko',
 'cmr',
 'it',
 'ca',
 'be',
 'au',
 'ni',
 'fr',
 'th',
 'ru',
 'pk',
 'jp',
 'ukr',
 'uy',
 'me',
 'si',
 'swe',
 'gk',
 'us',
 'no',
 'cu',
 'de',
 'aus',
 'le',
 'is'}

In [18]:
set(p.nationality)

{nan,
 'iran',
 'hun',
 'ar',
 'uk',
 'ir',
 'nic',
 'in',
 'cmr',
 'tr',
 'it',
 'ca',
 'nor',
 'au',
 'ni',
 'fr',
 'lit',
 'ru',
 'jp',
 'ukr',
 'me',
 'sw',
 'den',
 'cl',
 'gk',
 'ba',
 'us',
 'no',
 'tu',
 'de',
 'gr',
 'al',
 'es',
 'nz',
 'pol',
 'tri',
 'arm',
 'aus',
 'pr',
 'sa',
 'ph',
 'sri'}

#### category

According to our data dictionary in [**process.md**](https://github.com/tedunderwood/meta2018/blob/master/process.md) the allowable codes here are

    nonfic
    reprint
    novel
    poetry
    shortstories
    juvenile

In subsequent conversation we added

    drama, and
    shortstories|juvenile
    juvenile|shortstories (order doesn't matter here)
 
What categories are we actually getting?

In [19]:
set(j.category)

{nan,
 'nonfiction',
 'notfiction',
 'reprint',
 'poetry',
 'juvenile',
 'Shortstories | poetry',
 'novel',
 'Juvenile | shortstories',
 'drama',
 'shortstories',
 'Shortstories | juvenile'}

In [20]:
set(p.category)

{nan,
 'nonfic|juvenile',
 'reprint',
 'poetry',
 'juvenile',
 'nonfic|poetry',
 'novel|juvenile',
 'novel',
 'shortstories|juvenile',
 'shortstories|poetry',
 'juvenile|shortstories',
 'nonfic',
 'shortstories'}

Most of the variants here are no problem. It's normal practice to lowercase everything, and strip spaces, so "Shortstories | juvenile" will be easy to interpret.

But *nonfiction / notfiction / nonfic* are material variants; we want to standardize to *nonfic.*

I can do that quickly now to illustrate.

In [27]:
ctr = 0
# we want to count changes
# so initialize a counter to zero

for idx in j.index:
    # let's go through every row in this dataframe
    # by using the "index" number
    
    this_category = j.loc[idx, 'category']
    # Get the category each time, using the syntax:
    # dataframe.loc[row, column]
    # (loc for location)
    
    if this_category == 'notfiction' or this_category == 'nonfiction':
        # if it's a variant
        
        j.loc[idx, 'category'] = 'nonfic'
        # replace it with the version we expect
        ctr += 1
    
    else:
        # otherwise
        pass       # do nothing
                # this isn't really necessary, but I'm demonstrating
                # if-else syntax

print('We changed ' + str(ctr) + ' rows.')

We changed 46 rows.

#### What percentage nonfic?

In [30]:
#### what percentage nonfic?

j_pct = sum(j.category == 'nonfic') / sum(~pd.isnull(j.category))
print("In Jessica's set: ", j_pct)


p_pct = sum(p.category == 'nonfic') / sum(~pd.isnull(p.category))
print("In Patrick's set: ", p_pct)

In Jessica's set:  0.0656205420827
In Patrick's set:  0.0941176470588

Pretty close agreement; that makes sense.

#### How often is firstpub filled out?

In [32]:
j_pct = sum(~pd.isnull(j.firstpub)) / sum(~pd.isnull(j.category))
print("In Jessica's set: ", j_pct)

p_pct = sum(~pd.isnull(p.firstpub)) / sum(~pd.isnull(p.category))
print("In Patrick's set: ", p_pct)

In Jessica's set:  0.0114122681883
In Patrick's set:  0.135828877005

That's a pretty dramatic difference, which we need to look into.

13-14% of the time Patrick is able to identify a first publication date earlier than the "inferreddate"; in Jessica's data, it's only happening around 1% of the time.